<!-- 
  This is the HTML template linked to app component. It is linked to thins component thanks to its declaration in
  "app.component.ts" class. In template, Angular extends HTML with additional syntax that lets insert dynamic values 
  from the component. 
-->

<!-- 
  The double curly braces {{}} are Angular's interpolation binding syntax. This interpolation binding allow to display
  the value of title (defined in "app.component.ts" class) inside the HTML.
-->
<h1>{{title}}</h1>

<router-outlet></router-outlet>
