<!--
    Because "hero" is define as an interface in component's class, we may access
    it's fields here in template.

    Below, we use "| uppercase" into interpolation. This activates the built-in "UppercasePipe". In Angular, pipes are a good way 
    to format strings, currency amounts, dates, and other display data. Angular ships with several built-in pipes and we can create 
    our own.
-->
<h2>{{fakeHero.name | uppercase}} Details</h2>
<div><span>id: </span>{{fakeHero.id}}</div>
<div>
    <label for="name">Hero name: </label>
    <!--
        With this input, we may change the hero's name. That means data flows from the component class out to the screen, and from the screen 
        back to the class. To automate that data flow, we set up a two-way data binding between the <input> form element and the hero.name property.

        ==> [(ngModel)] is Angular's two-way data binding syntax. Here it binds the hero.name property to the HTML text box so that data can flow in both 
        directions. Data can flow from the hero.name property to the text box and from the text box back to the hero.name.

        Beware : although ngModel is a valid Angular directive, it isn't available by default. We may use it because we added FormsModule to imports in
        "app.module.ts" (ngModel belongs to FormsModule).
    -->
    <input id="name" [(ngModel)]="fakeHero.name" placeholder="name">
</div>

<h2>My Heroes</h2>
<ul class="heroes">
    <!-- 
        *ngFor is Angular's repeater directive. It repeats the host element for each element in a list. Here :
        - "<li>" is the host element. 
        - "heroes" is heroes list from the HeroesComponent class.
        - "hero" holds the current hero object for each iteration through the list.
    -->
    <li *ngFor="let hero of heroes">
        <!--
            "(click)="onSelect(hero)" is an example of Angular's event binding syntax. The parentheses around click tell Angular to listen 
            for the <button> element's click event. When the user clicks in the <button>, Angular executes the onSelect(hero) expression from
            HeroesComponent class.

            "[class.some-css-class]="some-condition" is Angular's class binding. It can add and remove a CSS class conditionally. Adding
            Below "[class.selected]="hero === selectedHero" into button tag indicate Angular to adds the selected CSS class to the element when
            the current row's hero is the same as the selectedHero. If the user then click on another hero, the hero from previous button become
            different of selectedHero, and Angular removes the class from it.
        -->
        <button type="button" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button>

        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </a>
    </li>
</ul>

<!-- 
    Here he parent, HeroesComponent, controls the child, HeroDetailComponent by sending it a new hero to display whenever
    the user selects a hero from the list. We bind the HeroesComponent.selectedHero to the HeroDetail.hero property.

    [hero]="selectedHero" is an Angular property binding. It's a one-way data binding from the selectedHero property of the HeroesComponent to the 
    hero property of the target element, which maps to the hero property of the HeroDetailComponent.
-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
